# Created by .ignore support plugin (hsz.mobi)
### Example user template template
/vagrant/*
scripts/application-config.sh
scripts/create-db-user.sh
scripts/createDbUser.sql
scripts/database-config.sh
scripts/laravel-install.sh
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen